# Dependencies
node_modules/

# Next.js
.next/
out/

# Production
build/

# Misc
.DS_Store
*.log

# Environment variables
.env
.env*.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Testing
coverage/

.idea/
.vscode/
.next